* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: "Roboto";
    background: #FFF;
}

.contrainer {
    width: 1250px;
    margin: auto;
}

.nav {
    margin: auto;
    height: 340px;
    text-align: center;
}

.image {
    width: 120px;
    height: 151px;
    text-align: center;

}

.list {
    margin-top: 79px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-bottom: 30px;
}

.link {
    color: #8C8A8A;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
}

.bg-image {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.img {
    width: 1110px;
    height: 450px;
    text-align: center;
}

.section {
    gap: 30px;
    margin-bottom: 45px;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 30px;
}

.tetxleft {
    width: 730px;
    height: 500px;
    padding: 50px 95px 50px 40px;
}

.title__left {
    color: #4581B7;
    text-align: center;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 25px;
}

.p-left {
    color: #808080;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
}

.textright {
    width: 350px;
    height: 500px;
    padding: 50px 95px 50px 40px;
}

.title__right {
    color: #4581B7;
    text-align: center;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 25px;
}

.p-right {
    color: #808080;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
}

.text1 {
    margin-bottom: 30px;
}

.text2 {
    margin-bottom: 50px;
}

.footer__section {
    background: #F0F0F0;
    display: flex;
    justify-content: space-evenly;
    gap: 510px;
}
.footer__img{
    padding: 15px 15px 40px;
}

.footer__text {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer__desc {
    color: #808080;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
}

.footer__phone {
    color: #808080;
    font-family: Roboto;
    font-size: 25px;
    font-weight: 700;
}

